.App {
  display: flex;
  width: 100%;
  text-align: center;
  margin: 1rem;
}

.info-panel {
  border: 1px solid;
  top: 0;
  left: 0;
  height: 100vh;
  width: 30vw;
}

.allocation-info-panel {
  height: 10rem;
  padding: 1rem;
  border: 1px solid;
  width: 50%;
}

.performance-panel {
  height: 10rem;
  padding: 1rem;
  border: 1px solid;
  width: 50%;
}

.positions {
  padding: 1rem;
  border: 1px solid;
}

.tools-container {
  display: flex;
  flex-direction: column;
  width: 100vw;

  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.tools-2-container {
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}
