.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.body {
  margin-top: 100px;
  padding-bottom: 40px;
  font-family: 'Poppins', sans-serif;
}

.footer {
  width: 100%;
  position: fixed;
  padding: 10px;
  bottom: 0;
  background-color: black;
  color: white;
}
