.accordion-container {
  border: 0px solid #f0f0f0;
  width: 100%;
  border-radius: 2px;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  padding-left: 2;
  padding: 0.5rem;
  background-color: #f0f0f0;
  color: purple;
}

.accordion-icon {
}

.accordion-content ul {
  list-style: none;
  display: flex;
  width: 90%;
  padding-left: 7px;
  flex-direction: column;
}

.accordion-content li {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.accordion-content li:hover {
  background-color: #f0f0f0;
}
